body,html,h1,h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #b9ebed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 1em;
}

h1 {
  color: #3e9ea3;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 5em;
}

h2 {
  padding-bottom: 1vh;
  color: #6a9294;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

input {
  width: 30em;
  height: 1.5em;
}

button {
  background-color: #3e9ea3;
  color: white;
  margin-top: 1em;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

div {
  width: 30em;
  height: 10em;
  border: 5px #3e9ea3 solid;
  background-color: #94ced1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 2em;
}

p {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}

.shadow {
  text-shadow: 0px 0px 0px white;
  text-decoration: underline;
}
